.center_noflex {
    margin: 0 auto;
    width: 75%;
}

.question {
    margin: 10px;
    width: 100%;
}
fieldset {
    margin: 5px;
    padding: 20px 30px 30px;
}
label { 
    width: 10%;
}
.question_title {
    margin: 0 auto 20px;
    width: 900px;
    font-size: 20px;
    text-align: left;
    display: block;
}
.subtitle {
    font-size: 20px;
    margin: 0 0 65px;
    font-weight: 400;
}
em {
    font-weight: 600;
    font-style: normal;
}
.attachmentTitle {
    margin-bottom: 25px;
}