.center {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#profile_pic {
    width: 345px;
    height: auto;
    /* max-height: 345px; */
    /* border: 2px solid white; */
}
.matchContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    /* overflow: hidden; */
    height: 1000px;
    /* font-size: 23px; */
}
.matchList {
        flex-wrap: 'nowrap';
        /* transform: 'translateZ(0)'; */
}
#flexScroll {
    display: flex;
    /* flex-wrap: nowrap; */
    flex-direction: column;
}
/* .bg {
    background-color: rgb(249, 247, 245);
    height: 3000px;
} */