
body {
    box-sizing: border-box;
    margin-top: 72px;
    /* font-family: 'Josefin Sans', sans-serif; */
    font-family: 'Lato', sans-serif;
    line-height: .5;
}
h1 {
    font-family: 'Oxygen', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Comfortaa', sans-serif;
    /* font-family: 'Poiret One', cursive; */
    /* font-family: 'Roboto', sans-serif; */
    color: rgb(47, 93, 200);
    font-size: 30px;
    font-weight: 700;
    margin-top: 140px;
    margin-bottom: 80px;
} 
h2 {
    font-size: 30px;
}