.pictureUpload {
    display: block;
    margin: 0 auto 10px;
    padding: 0 0 10px;
    width: 100%;
    text-align: center;
}
.profileTitle {
    margin: 0 0 25px;
}
.tagline {
    line-height: 1.25; 
    text-align: left; 
    max-width: 280px
}
.paper {
    margin: 0 auto;
    width: 445px;
    height: 1800px
  }
.paper-long {
    margin: 0 auto;
    width: 445px;
    height: 2200px
  }
  .profile {
      margin-left: 80px;
      text-align: left;
  }
  .no-flex {
      display: block;
  }
  .form {
      padding-top: 10px;
      width: 100%;
  }
  .form input {
    font-weight: 400;
    font-size: larger;
    color: rgba(50, 50, 50, 1)
  }
  .edit {
      padding-top: 40px;
  }